*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


p {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

.searchMovieContainer{
    margin: 0 1rem;
}

.section{
    width: 100%;
    overflow-x: auto;
}

.section img{
    width: 300px;
    margin: 2rem 0;
}

img:hover{
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}


.form-group :first-of-type{
    text-align: center;
}

.btn{
    width: 5rem;
    height:  2rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    left: 7rem;
    cursor: pointer;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.srch{
    width: 50%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid gray;
    
}





